.table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    border-spacing: 25px;
    background-color: gray;
    

}

.table th {
    padding: 25px;
    text-align: center;
    border-bottom: 1px solid black;
    background-color: gray;
}


.h1{
 text-align: center;
 color: blue;
}

footer{
    position: fixed;
    bottom: none;
    width: 100%;
}
section{
    margin: 15PX;
    text-align: center;
}