.CTA_calcul{
    border-bottom: solid 3px var(--secondary_color);
}

.school_name{
    font-weight: bold;
    color: white;
}

.box1{
    background-color: var(--main_color);
    padding-left: 7rem;
    flex: 1 1 35%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

}
.box2{
    flex: 1 1 0%;
}

.big_CTA{
    color: var(--secondary_color);
    display: flex;
    flex-direction: column;
    letter-spacing: 0px;
    flex-wrap: nowrap;
    font-size: 4rem;
    font-weight: bold;
    z-index: 2;
    position: relative;
    left: 12%;
}
.cta_graph{
    z-index: 1;
    width: 40%;
    position: relative;
    top: 35px;
}



.virtual_span{
    padding-inline: 0.5rem;
}

.icon_feature{
    width: 75px;
    height: auto;
}

.chart_section{
    display: grid; 
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr)); 
    column-gap: 3rem; 
    grid-auto-flow: column;
    margin-top: 60px;   
}

.row-span-5{
    grid-row: span 3 / span 3; 
}

.col-span-2{
    grid-column: span 2 / span 2;
}

.col-span-1{
    grid-column: span 1 / span 1;
}

.col-span-3{
    grid-column: span 3 / span 3;
}
.row-span-2{
    grid-row: span 2 / span 2;
}

.row-span-1{
    grid-row: span 1 / span 1;
}

.My_buttun{
    background-color: var(--main_color);
    color: white;
    font-weight: bold;
    border-radius: 1px;
    padding-inline: 1.25rem;
    padding-block: 0.85rem;
    border: none;
}

.chart_section h1{
    font-size: 2rem;
    padding: 0 !important;
    margin: 0 !important;
}


.flex-col-between{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chart_section p{
    color: var(--ternary_color);
    font-weight: bold;
}

.point_section{
    display: flex;
    font-weight: bold;
    flex-direction: row;
    padding-bottom: 6rem;
    justify-content: space-between;
}

.font-white{
    color: white;
}