

:root{
    --main_color: #222B40;
    --secondary_color: #FCDFD8;
    --ternary_color: #a5adc3;
    
}



body{
    margin: 0;
    padding: 0;
}
footer {
    padding-block: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer p{
    text-align: center;
    margin: 0;
    
}
footer, nav{
    color: white;
    background-color: var(--main_color);
    padding-left: 1rem;
    padding-right: 1rem; 

}
 
nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: stretch;
    
}

.container_custom{
    padding-block: 0.6rem;
    padding-inline: 15rem;
    
}

nav > *{
    flex-grow: 1/2;
    flex: 1 1 0%;
    padding-inline: 0.5rem;
    padding-block: 0.5rem;
}

.pages_link{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-inline: 0.5em; 
    justify-content: flex-end; /* mettre à start et faire une media query*/
    
    flex: 1 1 35%;
}

.img_box{
    margin: auto;
}

.pages_link >*{
    margin-left: 1.25rem;
    padding-inline: 1.75rem;
    padding-block: 0.9rem;
    color: var(--ternary_color);
    
}

.pages_link >*:hover{

    font-weight: bold;
    border-radius: 5px;
    border: 2px solid var(--ternary_color);
}

a{
    text-decoration: none;
}

.our_logo{
    width:9rem;
}

.flex-inline-nowrap{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.flex-col-nowrap{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.mx-auto{
    margin-inline: auto;
}

.my-auto{
    margin-block: auto;
}



.fleche{
    width: 2rem;
}

.space-x > *{
    margin-right: 2rem;
}

.color-ternary{
    color: var(--ternary_color);
}

.color-secondary{
    color: var(--secondary_color);
}

.bg-main{
    background-color: var(--main_color);
}




/* 
    - media queries navbar : 1024, 768,

*/