
/* definir les variables des couleurs frequemment utilisées dans le site */ 
:root{
    --main_color: #222B40;
    --secondary_color: #FCDFD8;
    --ternary_color: #a5adc3;
}


/* definir des propriétés par défaut pour tous les éléments de toutes les pages ayant des classes communes */

body{
    margin: 0;
    padding: 0;
    font-family: "Arial"; 
}

footer {
    padding-block: 1rem;
}

footer p{
    text-align: center;
    margin: 0;
    
}

footer, nav{
    color: white;
    background-color: var(--main_color);
    padding-left: 1rem;
    padding-right: 1rem; 

}
 
nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: stretch;
    
}

.container_custom{
    padding-block: 0.6rem;
    padding-inline: 16.7%;
    
}

nav > *{
    flex-grow: 1/2;
    flex: 1 1 0%;
    padding-inline: 0.5rem;
    padding-block: 0.5rem;
}

.pages_link{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-inline: 0.5em; 
    justify-content: flex-end; /* mettre à start et faire une media query*/
    
    flex: 1 1 35%;
}

.img_box{
    margin: auto;
}

.pages_link >*{
    margin-left: 1.25rem;
    padding-inline: 1.75rem;
    padding-block: 0.9rem;
    color: var(--ternary_color);
    
}

.pages_link >*:hover{

    font-weight: bold;
    border-radius: 5px;
    border: 2px solid var(--ternary_color);
}

a{
    text-decoration: none;
}

.our_logo{
    width:9rem;
}

.flex-inline-nowrap{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.flex-col-nowrap{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.mx-auto{
    margin-inline: auto;
}

.my-auto{
    margin-block: auto;
}



.fleche{
    width: 2rem;
}

.space-x > *{
    margin-right: 2rem;
}

.color-ternary{
    color: var(--ternary_color);
}

.color-secondary{
    color: var(--secondary_color);
}
.color-main{
    color: var(--main_color);
}

.bg-main{
    background-color: var(--main_color);
}

.feature{
    display: grid; 
    grid-template-columns: repeat(3, minmax(0, 1fr)); 
    gap: 10rem;
    padding-top: 7rem;
    font-weight: bold;
}
.feature p {
    color: var(--ternary_color);
}



/* Partie média queries pour rendre le site responsive */

/* partie bar de navigation */

@media screen and (max-width: 1024px){
    .pages_link{
        justify-content: flex-end;
        align-items: center;
    }
    .pages_link > *{
        margin-left: 0.5rem;
        padding-inline: 0.5rem;
        padding-block: 0.5rem;
    }
    /*.feature{
        display: grid; 
        grid-template-columns: repeat(2, minmax(0, 1fr)); 
        gap: 10rem;
        padding-top: 7rem;
        font-weight: bold;
    }*/
}

/* reduire le padding à partir de 519px  */
@media screen and (max-width: 580px){
    .container_custom{
        padding-inline: 10%;
    }
    .pages_link{
        justify-content: center;
    }
    /*.feature{
        display: grid; 
        grid-template-columns: repeat(2, minmax(0, 1fr)); 
        gap: 10rem;
        padding-top: 7rem;
        font-weight: bold;
    }*/
} 

@media screen and (max-width: 450px){
    .container_custom{
        padding-inline: 2%;
    }
}

@media screen and (max-width: 369px){
    .container_custom{
        padding-inline: none;
        display: flex;
        flex-direction: column;
    }
    
}